{% extends 'dashboard.twig' %}

{% block content %}

<div class="centerLargeDiv alerts">
<div class="entityAddContainer">
    <div class="entityCancel">
        {% set backlink = linkTo({'module': 'CustomAlerts', 'action': 'index'}) %}
        {{ 'CustomAlerts_CancelAndReturnToAlerts'|translate('<a class="entityCancelLink" href="' ~ backlink ~ '">', "</a>")|raw }}
    </div>
    <form method="POST" onSubmit="onSubmit(event)">
        <h2>{{ 'CustomAlerts_ManageAlerts'|translate }}</h2>
        <table class="tableForm dataTable entityTable">
            <thead>
                <tr class="first">
                    <th colspan="2">{{ 'CustomAlerts_CreateNewAlert'|translate }}</th>
                <tr>
            </thead>
            <tr>
                <td class="first"><label for="alertName">{{ 'CustomAlerts_AlertName'|translate }}</label></td>
                <td><input class="inp" type="text" name="alertName" id="alertName" /></td>
            </tr>
            <tr>
                <td class="first"><label for="applyTo">{{ 'CustomAlerts_ApplyTo'|translate }}</label></td>
                <td>{{ siteName|raw }}
                    {% if sitesList|length > 1 %}
                        and
                    <select id="idSites" class="multiselect inp" multiple="multiple" name="idSites[]">
                        {% for site in sitesList %}
                            {% if idSite != site.idsite %}
                                <option value="{{ site.idsite }}">{{ site.name }}</option>
                            {% endif %}
                        {% endfor %}{{ idSite }}
                    </select>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="first"><label for="period">{{ 'General_Period'|translate }}</label></td>
                <td><select class="period inp" name="period" id="period">
                        <option value="day">{{ 'CoreHome_PeriodDay'|translate }}</option>
                        <option value="week">{{ 'CoreHome_PeriodWeek'|translate }}</option>
                        <option value="month">{{ 'CoreHome_PeriodMonth'|translate }}</option>
                    </select></td>
            </tr>

            {{ postEvent('Template.reportParametersScheduledReports') }}

        </table>
        <br />

        <table class="tableForm dataTable entityTable">
            <thead>
                <tr class="first">
                    <th colspan="2">{{ 'CustomAlerts_AlertConditions'|translate }}</th>
                <tr>
            </thead>
            <tr>
                <td class="reportField">
                    {{ 'CustomAlerts_ThisAppliesTo'|translate}} <br />
                    <select class="reports inp" name="report" id="report">
                        {% for groupName, groupValue in alertGroups %}
                            <option value="{{ groupValue|e('html_attr') }}">{{ groupName|translate }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td class="reportConditionField">
                    {{ 'CustomAlerts_Condition'|translate}} <br />
                    <select class="reportCondition inp" name="reportCondition" id="reportCondition">
                        {% for condName, condValue in alertGroupConditions %}
                            <option value="{{ condValue|e('html_attr') }}">{{ condName|translate }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td class="reportValueField">
                    {{ 'General_Value'|translate }} <span id="reportInfo"></span><br />
                    <input type="text" role="textbox" autocomplete="off" class="reportValue inp ui-autocomplete-input" name="reportValue" id="reportValue" placeholder="{{ 'General_Search'|translate }}" length="15">
                </td>
            </tr>
            <tr>
                <td>
                    {{ 'CustomAlerts_AlertMeWhen'|translate }} <br />
                    <select name="metric" id="metric" class="metrics inp" >

                    </select>
                </td>
                <td>
                    {{ 'CustomAlerts_Condition'|translate }} <br />
                    <select name="metricCondition" id="metricCondition" class="inp">
                        {% for condName, condValue in alertMetricConditions %}
                            <option value="{{ condValue|e('html_attr') }}">{{ condName|translate }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    {{ 'General_Value'|translate }}<br />
                    <input type="text" class="inp" name="metricValue" id="metricValue" />
                </td>
            </tr>
        </table>

        <br />
	    {% set url="<a href='module=CustomAlerts'>" %}
        <input type="submit" value="{{ 'CustomAlerts_CreateNewAlert'|translate }}" name="submit" class="submit" />
    </form>
</div>
</div>
<script type="text/javascript">

function onSubmit(event)
{
    event.preventDefault();
    event.stopPropagation();

    var mailSettings   = getReportParametersFunctions.email();
    var mobileSettings = getReportParametersFunctions.mobile();

    var idReport = $('#report_idreport').val();
    var apiParameters = {};
    apiParameters.format  = 'json';
    apiParameters.name    = $('#alertName').val();
    apiParameters.metric  = $('#metric').find('option:selected').val();
    apiParameters.metricCondition  = $('#metricCondition').find('option:selected').val();
    apiParameters.metricValue = $('#metricValue').val();
    apiParameters.emailMe = mailSettings.emailMe ? 1 : 0;
    apiParameters.additionalEmails = (mailSettings.additionalEmails && mailSettings.additionalEmails.length) ? mailSettings.additionalEmails : [''];
    apiParameters.phoneNumbers = mobileSettings.phoneNumbers;
    apiParameters.report = $('#report').find('option:selected').val();
    apiParameters.reportCondition  = $('#reportCondition').find('option:selected').val();
    apiParameters.reportValue = $('#reportValue').val();

    if (!$.isNumeric(apiParameters.metricValue)) {
        var UI = require('piwik/UI');
        var notification = new UI.Notification();
        notification.show('{{ 'CustomAlerts_InvalidMetricValue'|translate|e('js') }}', {id: 'CustomAlertsMetricValueError', context: 'error'});
        $('#metricValue').css({backgroundColor: '#f2dede'});
        return;
    }

    $('#metricValue').css({backgroundColor: '#ffffff'});

    var idSites  = [piwik.idSite];

    var selectedSites = $('#idSites').find('option:selected');

    for (var index = 0; index < selectedSites.length; index++) {
        idSites.push($(selectedSites[index]).val());
    }

    apiParameters.idSites = idSites;

    var ajaxHandler = new ajaxHelper();
    ajaxHandler.addParams(apiParameters, 'POST');
    ajaxHandler.addParams({period: $('#period').find('option:selected').val(), module: 'API', method: 'CustomAlerts.addAlert'}, 'GET');
    ajaxHandler.redirectOnSuccess({module: 'CustomAlerts', action: 'index'});
    ajaxHandler.send(true);
    return false;
}


</script>

{% endblock %}