<h2 style='{{fontStyle|e('html_attr')}} color:#37474f; line-height:30px; margin:25px 0 15px 0;'>{{ 'ScheduledReports_EmailHello'|translate }}</h2>
<p style='{{styleParagraph|e('html_attr')}}{{fontStyle|e('html_attr')}}'>{{ 'CustomAlerts_MailTextForSiteOnDate'|translate( websiteName,prettyDate )}} {{ 'CustomAlerts_MailEnd'|translate }}</p>

{{ triggeredAlerts|raw }}
