{% extends 'dashboard.twig' %}

{% block content %}

<div class="alerts centerLargeDiv">
<div class="entityAddContainer">
    <div class="entityCancel">
        {% set backlink = linkTo({'module': 'CustomAlerts', 'action': 'index'}) %}
        {{ 'CustomAlerts_CancelAndReturnToAlerts'|translate('<a class="entityCancelLink" href="' ~ backlink ~ '">', "</a>")|raw }}
    </div>
    <form method="POST" onSubmit="onSubmit(event)">
        <h2>{{ 'CustomAlerts_ManageAlerts'|translate }}</h2>
        <table class="tableForm dataTable entityTable">
        <thead>
            <tr class="first">
                <th colspan="2">{{ 'CustomAlerts_EditAlert'|translate }}</th>
            <tr>
        </thead>

        <tr>
            <td class="first"><label for="alertName">{{ 'CustomAlerts_AlertName'|translate }}</label></td>
            <td><input class="inp" type="text" name="alertName" id="alertName" value="{{ alert.name }}"/></td>
        </tr>
        <tr>
            <td class="first"><label for="applyTo">{{ 'CustomAlerts_ApplyTo'|translate }}</label></td>
            <td>
                <select id="idSites" class="multiselect inp" multiple="multiple" name="idSites[]">
                    {% for site in sitesList %}
                        <option value="{{ site.idsite }}"
                                {% if site.idsite in sitesDefined %}selected="selected"{% endif %}
                                >{{ site.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="first"><label for="period">{{ 'General_Period'|translate }}</label></td>
            <td><select class="period inp" name="period" id="period">
                <option value="day" {% if alert.period == 'day' %}selected="selected"{% endif %}>{{ 'CoreHome_PeriodDay'|translate }}</option>
                <option value="week" {% if alert.period == 'week' %}selected="selected"{% endif %}>{{ 'CoreHome_PeriodWeek'|translate }}</option>
                <option value="month" {% if alert.period == 'month' %}selected="selected"{% endif %}>{{ 'CoreHome_PeriodMonth'|translate }}</option>
            </select></td>
        </tr>

        {{ postEvent('Template.reportParametersScheduledReports') }}

        </table>
        <br />

        <table class="tableForm dataTable entityTable">
        <thead>
            <tr class="first">
                <th colspan="2">{{ 'CustomAlerts_AlertConditions'|translate }}</th>
            <tr>
        </thead>
        <tr>
            <td class="reportField">
                {{ 'CustomAlerts_ThisAppliesTo'|translate }} <br />
                <select class="reports inp" name="report" id="report">
                {% for report in reportMetadata %}
                    {% set module=report.module %}
                    {% set action=report.action %}
                    {% set reportName=module ~ '.' ~ action %}
                    <option value="{{ reportName}}" {% if reportName == alert.report %}selected="selected"{% endif %}>{{ report.name }}</option>
                {% endfor %}
                </select>
            </td>
            <td class='reportConditionField'>
                {{ 'CustomAlerts_Condition'|translate }} <br />
                <select class="reportCondition inp" name="reportCondition" id="reportCondition">
                {% for condName, condValue in alertGroupConditions %}
                    <option value="{{ condValue }}" {% if condValue == alert.report_condition %}selected="selected"{% endif %}>{{ condName|translate }}</option>
                {% endfor %}
                </select>
            </td>
            <td class='reportValueField'>
                {{ 'General_Value'|translate }} <span id="reportInfo"></span><br />
                <input type="text" role="textbox" autocomplete="off" class="reportValue inp ui-autocomplete-input" name="reportValue" id="reportValue" value="{{ alert.report_matched }}" placeholder="{{ 'General_Search'|translate }}" length="15">
            </td>
        </tr>
        <tr>
            <td>
                {{ 'CustomAlerts_AlertMeWhen'|translate }} <br />
                <select name="metric" id="metric" class="metrics inp">
			{% for report in reportMetadata %}
                {% set module=report.module %}
                {% set action=report.action %}
                {% set reportName=module ~ '.' ~ action %}
				{% if reportName == alert.report %}
				{% for metricName, metricValue in report.metrics %}
					<option value="{{ metricName }}" {%  if metricName == alert.metric %}selected="selected"{% endif %}>{{ metricValue }}</option>
				{% endfor %}
				{% endif %}
			{% endfor %}
                </select>
            </td>
            <td>
                {{ 'CustomAlerts_Condition'|translate }} <br />
                <select name="metricCondition" id="metricCondition" class="inp">
                {% for condName, condValue in alertMetricConditions %}
                    <option value="{{ condValue }}" {% if condValue == alert.metric_condition %}selected="selected"{% endif %}>{{ condName|translate }}</option>
                {% endfor %}
                </select>
            </td>
            <td>
                {{ 'General_Value'|translate }}<br />
                <input type="text" class="inp" name="metricValue" id="metricValue" value="{{ alert.metric_matched }}" />
            </td>
        </tr>
        </table>        
        
        <br />
        <input type="submit" value="{{ 'General_Save'|translate }}" name="submit" class="submit" />
    </form>
</div>
</div>

<script type="text/javascript">

$(function() {
    updateReportParametersFunctions.email({emailMe: !!{{ alert.email_me|e('js') }}, additionalEmails: {{ alert.additional_emails|json_encode|raw }} });
    updateReportParametersFunctions.mobile({phoneNumbers: {{ alert.phone_numbers|json_encode|raw }} });
});

function onSubmit(event)
{
    event.preventDefault();
    event.stopPropagation();

    var mailSettings   = getReportParametersFunctions.email();
    var mobileSettings = getReportParametersFunctions.mobile();

    var idReport = $('#report_idreport').val();
    var apiParameters = {};
    apiParameters.format = 'json';
    apiParameters.name  = $('#alertName').val();
    apiParameters.idAlert = {{ alert.idalert }};
    apiParameters.metric  = $('#metric').find('option:selected').val();
    apiParameters.metricCondition  = $('#metricCondition').find('option:selected').val();
    apiParameters.metricValue = $('#metricValue').val();
    apiParameters.emailMe = mailSettings.emailMe ? 1 : 0;
    apiParameters.additionalEmails = (mailSettings.additionalEmails && mailSettings.additionalEmails.length) ? mailSettings.additionalEmails : [''];
    apiParameters.phoneNumbers = mobileSettings.phoneNumbers;
    apiParameters.report = $('#report').find('option:selected').val();
    apiParameters.reportCondition  = $('#reportCondition').find('option:selected').val();
    apiParameters.reportValue  = $('#reportValue').val();
    apiParameters.token_auth   = piwik.token_auth;

    if (!$.isNumeric(apiParameters.metricValue)) {
        var UI = require('piwik/UI');
        var notification = new UI.Notification();
        notification.show('{{ 'CustomAlerts_InvalidMetricValue'|translate|e('js') }}', {id: 'CustomAlertsMetricValueError', context: 'error'});
        $('#metricValue').css({backgroundColor: '#f2dede'});
        return;
    }

    $('#metricValue').css({backgroundColor: '#ffffff'});

    var selectedSites = $('#idSites').find('option:selected');

    var idSites = [];
    for (var index = 0; index < selectedSites.length; index++) {
        idSites.push($(selectedSites[index]).val());
    }

    apiParameters.idSites = idSites;

    var ajaxHandler = new ajaxHelper();
    ajaxHandler.addParams(apiParameters, 'POST');
    ajaxHandler.addParams({period: $('#period').find('option:selected').val(), module: 'API', method: 'CustomAlerts.editAlert'}, 'GET');
    ajaxHandler.redirectOnSuccess({module: 'CustomAlerts', action: 'index'});
    ajaxHandler.send(true);
    return false;
}

</script>

{% endblock %}