{% extends 'dashboard.twig' %}

{% block content %}

<div class="alerts centerLargeDiv">
<div class="entityAddContainer">
{% if not requirementsAreMet %}
    {% import '@CustomAlerts/macros.twig' as alertsMacro %}
    {{ alertsMacro.requirementsNotMet() }}
{% else %}
    <div class="entityCancel">
        {% set backlink = linkTo({'module': 'CustomAlerts', 'action': 'index'}) %}
        {{ 'CustomAlerts_CancelAndReturnToAlerts'|translate('<a class="entityCancelLink" href="' ~ backlink ~ '">', "</a>")|raw }}
    </div>
    <form method="POST" onSubmit="onSubmit(event)">
        <h2>{{ 'CustomAlerts_ManageAlerts'|translate }}</h2>
        <table class="tableForm dataTable entityTable">
        <thead>
            <tr class="first">
                <th colspan="2">{{ 'CustomAlerts_EditAlert'|translate }}</th>
            <tr>
        </thead>

        <tr>
            <td class="first"><label for="alertName">{{ 'CustomAlerts_AlertName'|translate }}</label></td>
            <td><input class="inp" type="text" maxlength="100" name="alertName" id="alertName" value="{{ alert.name }}"/></td>
        </tr>
        <tr>
            <td class="first"><label for="applyTo">{{ 'CustomAlerts_ApplyTo'|translate }}</label></td>
            <td>
                {% set currentSiteName = '' %}
                {% set currentSiteId = alert.id_sites|first %}
                {% for site in sitesList %}
                    {% if currentSiteId == site.idsite %}
                        {% set currentSiteName = site.name %}
                    {% endif %}
                {% endfor %}
                {% include "@CoreHome/_siteSelect.twig" with {
                    'siteName':currentSiteName,
                    'idSite':currentSiteId,
                    'switchSiteOnSelect':false,
                    'showAllSitesItem':false,
                    'showSelectedSite':true,
                    'siteSelectorId': 'alertReportSiteSelector',
                    'inputName': 'idSite'
                } %}
            </td>
        </tr>
        <tr>
            <td class="first"><label for="period">{{ 'General_Period'|translate }}</label></td>
            <td><select class="period inp" name="period" id="period">
                <option value="day" {% if alert.period == 'day' %}selected="selected"{% endif %}>{{ 'CoreHome_PeriodDay'|translate }}</option>
                <option value="week" {% if alert.period == 'week' %}selected="selected"{% endif %}>{{ 'CoreHome_PeriodWeek'|translate }}</option>
                <option value="month" {% if alert.period == 'month' %}selected="selected"{% endif %}>{{ 'CoreHome_PeriodMonth'|translate }}</option>
            </select></td>
        </tr>

        {{ postEvent('Template.reportParametersScheduledReports') }}

        {% if not supportsSMS %}
            <tr>
                <td class="first"><label for="period">{{ 'MobileMessaging_PhoneNumbers'|translate }}</label></td>
                <td>
                    {{ 'CustomAlerts_MobileMessagingPluginNotActivated'|translate('<a href="' ~ linkTo({'module':"CorePluginsAdmin", 'action': 'plugins', 'updated':null}) ~ '#MobileMessaging">', '</a>')|raw }}
                </td>
            </tr>
        {% endif %}
            
        <tr>
            <td class="first"><label for="compared_to">{{ 'CustomAlerts_AlertCondition'|translate }}</label></td>
            <td>
                <br />
                    <span class="reportField">
                        {{ 'CustomAlerts_ThisAppliesTo'|translate}}
                        <select class="reports inp inlineSelect" name="report" id="report">
                            {% for report in reportMetadata %}
                                {% set module=report.module %}
                                {% set action=report.action %}
                                {% set reportName=module ~ '.' ~ action %}
                                <option value="{{ reportName|e('html_attr') }}" {% if reportName == alert.report %}selected="selected"{% endif %}>{{ report.name }}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <span class="reportConditionField">
                        <br /> when <span id="reportInfo"></span>
                        <select class="reportCondition inp inlineSelect" name="reportCondition" id="reportCondition">
                            {% for condName, condValue in alertGroupConditions %}
                                <option value="{{ condValue|e('html_attr') }}" {% if condValue == alert.report_condition %}selected="selected"{% endif %}>{{ condName|translate }}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <span class="reportValueField">
                        <input type="text" role="textbox" autocomplete="off" class="reportValue inp ui-autocomplete-input" maxlength="255" name="reportValue" id="reportValue" value="{{ alert.report_matched }}" placeholder="{{ 'General_Search'|translate }}" length="15">
                    </span>
                <br/><br />
                    <span>
                        {{ 'CustomAlerts_AlertMeWhen'|translate }}
                        <select name="metric" id="metric" class="metrics inp inlineSelect">
                            {% for report in reportMetadata %}
                                {% set module=report.module %}
                                {% set action=report.action %}
                                {% set reportName=module ~ '.' ~ action %}
                                {% if reportName == alert.report %}
                                    {% for metricName, metricValue in report.metrics %}
                                        <option value="{{ metricName|e('html_attr') }}" {%  if metricName == alert.metric %}selected="selected"{% endif %}>{{ metricValue }}</option>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </span>
                    <span>
                        <select name="metricCondition" id="metricCondition" class="inp inlineSelect">
                            {% for condName, condValue in alertMetricConditions %}
                                <option value="{{ condValue|e('html_attr') }}" {% if condValue == alert.metric_condition %}selected="selected"{% endif %}>{{ condName|translate }}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <span>
                        <input type="text" class="inp" name="metricValue" id="metricValue" value="{{ alert.metric_matched|e('html_attr') }}" />
                        <span class="metricValueDescription">%</span>
                    </span>

                    <span class="comparedToField">
                        <br />
                        compared to the
                        {% for period, comparablesDatesPeriod in comparablesDates %}
                            <select name="compared_to"
                                    class="inlineSelect"
                                    data-period="{{ period|e('html_attr') }}"
                                    id="compared_to"
                                    {% if comparablesDatesPeriod|length <= 1 %}
                                        disabled="disabled"
                                    {% endif %}
                                    >
                                {% for compDateTranslation, value in comparablesDatesPeriod %}
                                    <option value="{{ value|e('html_attr') }}"
                                        {% if value == alert.compared_to %} selected="selected"{% endif %}
                                            >{{ compDateTranslation|translate }}</option>
                                {% endfor %}
                            </select>
                        {% endfor %}
                    </span>
                <br />
                <br />
            </td>
        </tr>

        </table>
        <br />
        <input type="submit" value="{{ 'General_Save'|translate }}" name="submit" class="submit" />
    </form>
{% endif %}
</div>
</div>

<script type="text/javascript">

$(function() {
    if (updateReportParametersFunctions.email) {
        updateReportParametersFunctions.email({emailMe: {{ alert.email_me ? 'true':'false' }}, additionalEmails: {{ alert.additional_emails|json_encode|raw }} });
    }
    if (updateReportParametersFunctions.mobile) {
        updateReportParametersFunctions.mobile({phoneNumbers: {{ alert.phone_numbers|json_encode|raw }} });
    }
});

function onSubmit(event)
{
    event.preventDefault();
    event.stopPropagation();

    var mailSettings   = getReportParametersFunctions.email ? getReportParametersFunctions.email() : {additionalEmails: [], emailMe: false};
    var mobileSettings = getReportParametersFunctions.mobile ? getReportParametersFunctions.mobile() : {phoneNumbers: ['']};

    var idReport = $('#report_idreport').val();
    var apiParameters = {};
    apiParameters.format = 'json';
    apiParameters.name  = encodeURIComponent($('#alertName').val());
    apiParameters.idAlert = {{ alert.idalert }};
    apiParameters.metric  = $('#metric').find('option:selected').val();
    apiParameters.metricCondition  = $('#metricCondition').find('option:selected').val();
    apiParameters.metricValue = $('#metricValue').val();
    apiParameters.emailMe = mailSettings.emailMe ? 1 : 0;
    apiParameters.additionalEmails = (mailSettings.additionalEmails && mailSettings.additionalEmails.length) ? mailSettings.additionalEmails : [''];
    apiParameters.phoneNumbers = mobileSettings.phoneNumbers;
    apiParameters.report = $('#report').find('option:selected').val();
    apiParameters.reportCondition = $('#reportCondition').find('option:selected').val();
    apiParameters.reportValue  = $('#reportValue').val();
    apiParameters.idSites = [$('[name=idSite]').val()];
    apiParameters.comparedTo = $('[name=compared_to]:not([data-inactive])').val();

    if (!$.isNumeric(apiParameters.metricValue)) {
        var UI = require('piwik/UI');
        var notification = new UI.Notification();
        notification.show('{{ 'CustomAlerts_InvalidMetricValue'|translate|e('js') }}', {id: 'CustomAlertsMetricValueError', context: 'error', type: 'toast'});
        $('#metricValue').css({backgroundColor: '#f2dede'});
        return;
    }

    $('#metricValue').css({backgroundColor: '#ffffff'});

    var ajaxHandler = new ajaxHelper();
    ajaxHandler.addParams(apiParameters, 'POST');
    ajaxHandler.addParams({period: $('#period').find('option:selected').val(), module: 'API', method: 'CustomAlerts.editAlert'}, 'GET');
    ajaxHandler.redirectOnSuccess({module: 'CustomAlerts', action: 'index'});
    ajaxHandler.send(true);
    return false;
}

</script>

{% endblock %}