{% import '@MobileMessaging/macros.twig' as mobileMacro %}

<div piwik-content-block content-title="{{ headline|e('html_attr') }}" class="alerts">

  <div
    vue-entry="CustomAlerts.EditAlert"
    alert="{{ alert|default(null)|json_encode|e('html_attr') }}"
    current-site="{{ currentSite|default(null)|json_encode|e('html_attr') }}"
    period-options="{{ periodOptions|default(null)|json_encode|e('html_attr') }}"
    current-user-email="{{ currentUserEmail|default(null)|json_encode|e('html_attr') }}"
    supports-s-m-s="{{ supportsSMS|default(null)|json_encode|e('html_attr') }}"
    mobile-macro="{{ mobileMacro|default(null)|json_encode|e('html_attr') }}"
    phone-numbers="{{ phoneNumbers|default(null)|json_encode|e('html_attr') }}"
    report-metadata="{{ reportMetadata|default(null)|json_encode|e('html_attr') }}"
    alert-group-conditions="{{ alertGroupConditions|default(null)|json_encode|e('html_attr') }}"
    metric-condition-options="{{ metricConditionOptions|default(null)|json_encode|e('html_attr') }}"
    comparables-dates="{{ comparablesDates|default(null)|json_encode|e('html_attr') }}"
    backlink="{{ backlink|default(null)|json_encode|e('html_attr') }}"
  ></div>

</div>