<div
  vue-entry="CustomAlerts.EditAlert"
  headline="{{ headline|default(null)|json_encode|e('html_attr') }}"
  alert="{{ alert|default(null)|json_encode|e('html_attr') }}"
  current-site="{{ currentSite|default(null)|json_encode|e('html_attr') }}"
  period-options="{{ periodOptions|default(null)|json_encode|e('html_attr') }}"
  current-user-email="{{ currentUserEmail|default(null)|json_encode|e('html_attr') }}"
  supports-s-m-s="{{ supportsSMS|default(null)|json_encode|e('html_attr') }}"
  mobile-macro="{{ mobileMacro|default(null)|json_encode|e('html_attr') }}"
  phone-numbers="{{ phoneNumbers|default([])|json_encode|e('html_attr') }}"
  report-metadata="{{ reportMetadata|default(null)|json_encode|e('html_attr') }}"
  alert-group-conditions="{{ alertGroupConditions|default(null)|json_encode|e('html_attr') }}"
  metric-condition-options="{{ metricConditionOptions|default(null)|json_encode|e('html_attr') }}"
  comparables-dates="{{ comparablesDates|default(null)|json_encode|e('html_attr') }}"
  backlink="{{ backlink|default(null)|json_encode|e('html_attr') }}"
></div>
