{% import '@CustomAlerts/macros.twig' as alertsMacro %}
<table>
    <thead>
    <tr bgcolor='#c0c0c0'>
        <td>{{ 'CustomAlerts_Alert'|translate }}</td>
        <td>{{ 'General_Edit'|translate }}</td>
    </tr>
    </thead>
    <tbody>
{% for alert in triggeredAlerts %}

    <tr>
        <td>{{ 'CustomAlerts_MailAlertContent'|translate(alert.alert_name, alert.reportMetric|default(alert.metric), alert.reportName|default(alert.report), alert.site_name, alertsMacro.metricChangeDescription(alert)) }}</td>
        <td><a href="{{ piwikUrl }}{{ linkTo({'module': 'CustomAlerts', 'action': 'editAlert', 'idAlert': alert.idalert, 'idSite': alert.idsite, 'period': alert.period, 'date': 'yesterday'})|raw }}"
                >{{ 'CustomAlerts_EditAlert'|translate }}</a></td>
    </tr>

{% endfor %}
    </tbody>
</table>