{% import '@CustomAlerts/macros.twig' as alertsMacro %}
{% set style = extended ? '' : 'padding:17px 0 17px 10px;' %}
{% set fontStyle = 'color:#0d0d0d;font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Cantarell, "Helvetica Neue", sans-serif; '%}
{% set styleTableHeader = "padding:13px 0 13px 10px;text-align: left;font-weight:normal;font-size: 15px;" ~ fontStyle %}
{% set styleTableCell = "border-bottom:1px solid rgb(231,231,231);font-size: 15px;" ~ fontStyle %}
<table {% if not extended %}style='width:100%;border-collapse: collapse; border:1px solid rgb(231,231,231); padding:5px;  margin:30px 0;{{fontStyle}}' class="tableForm dataTable entityTable"{% endif %} piwik-content-table>
    <thead {% if not extended %}style="background-color:#f2f2f2;color:#0d0d0d;"{% endif %}>
    <tr>
        <th {% if not extended %}style="{{styleTableHeader}}"{% endif %}>{{ 'CustomAlerts_AlertName'|translate }}</th>
        {% if extended %}
            <th style="text-align: center;">{{ 'General_Date'|translate }}</th>
            <th style="text-align: center;">{{ 'General_Website'|translate }}</th>
        {% endif %}
        <th {% if not extended %}style="{{styleTableHeader}}"{% endif %}>{{ 'General_Report'|translate }}</th>
{% if hasConditions %}
        <th {% if not extended %}style="{{styleTableHeader}}"{% endif %}>{{ 'CustomAlerts_AlertCondition'|translate }}</th>
{% endif %}
        <th {% if not extended %}style="{{styleTableHeader}}"{% endif %}>{{ 'CustomAlerts_Alert'|translate }}</th>
    </tr>
    </thead>
    <tbody>
{% if triggeredAlerts|length %}
{% for alert in triggeredAlerts %}
    <tr>
        <td style="{% if not extended %}{{styleTableCell}}{% else %}max-width:300px;{% endif %}{{ style }}"><a style="color:#439fe0; text-decoration:none;" href="{{ piwikUrl }}{{ linkTo({'module': 'CustomAlerts', 'action': 'editAlert', 'idAlert': alert.idalert, 'idSite': alert.idsite, 'period': alert.period, 'date': 'yesterday', 'token_auth': false, 'convertToUnicode': false, 'format': false, 'method': false, 'trigger': false})|raw }}">{{ alert.name }}</a></td>
        {% if extended %}
            <td style="white-space: nowrap;">{{ alert.ts_triggered }}</td>
            <td>{{ alert.siteName|rawSafeDecoded }}</td>
        {% endif %}
        <td style="{% if not extended %}{{styleTableCell}}{% else %}max-width:300px;{% endif %}{{ style }}">{{ alert.reportName|default(alert.report) }}</td>
{% if hasConditions %}
        <td style="{% if not extended %}{{styleTableCell}}{% else %}max-width:300px;{% endif %}{{ style }}">{{ alert.dimension|default('') }} {{ alert.reportConditionName }} {% if alert.report_matched %}'{{ alert.report_matched|truncate(100)|raw }}'{% endif %}</td>
{% endif %}
        <td style="{% if not extended %}{{styleTableCell}}{% else %}max-width:300px;{% endif %}{{ style }}padding:17px 10px;">{{ alert.reportMetric }} {{ alertsMacro.metricChangeDescription(alert) }}</td>
    </tr>

{% endfor %}
{% else %}
    <tr>
        <td colspan="{% if extended %}7{% else %}3{% endif %}">
            <br/>
            <p>{{ 'CustomAlerts_NoTriggeredAlerts'|translate }}</p>
        </td>
    </tr>
{% endif %}
    </tbody>
</table>
