<table>
    <thead>
    <tr bgcolor='#c0c0c0'>
        <td>Name</td>
        <td>Website</td>
        <td>Period</td>
        <td>Report</td>
        <td>Condition</td>
    </tr>
    </thead>
    <tbody>
{% for alert in triggeredAlerts %}

    <tr>
        <td>{{ alert.alert_name }}</td>
        <td>{{ alert.site_name }}</td>
        <td>{{ alert.period }}</td>
        <td>{{ alert.report }}</td>
        <td>{{ alert.metric }} {{ alert.metric_condition }} {{ alert.metric_matched }}</td>
    </tr>

{% endfor %}
    </tbody>
</table>