<div id='entityEditContainer'>

	<table class="dataTable entityTable">
        <thead>
            <tr>
                <th class="first">ID</th>
                <th>Alert Name</th>
                <th>{{ 'General_Period'|translate }}</th>
                <th>{{ 'General_Report'|translate }}</th>
                <th>{{ 'General_Action'|translate }}</th>
            </tr>
        </thead>

        {% if not alerts %}
        <tr>
            <td colspan="6">
                <br/>
                {{ 'CustomAlerts_NoAlertsDefined'|translate }}.
                <br/><br/>
            </td>
        </tr>
        {% else %}
            {% for alert in alerts %}
                <tr>
                    <td>{{ alert.idalert }}</td>
                    <td>{{ alert.name }}</td>
                    <td>{{ alert.period|capitalize }}</td>
                    <td>{{ alert.reportName }}</td>
                    <td><a href="{{ linkTo({'module': 'CustomAlerts', 'action': 'editAlert', 'idAlert': alert.idalert}) }}">{{ 'General_Edit'|translate }}</a></td>
                </tr>
            {% endfor %}
        {% endif %}

    </table>
	<br/>
	<a href="{{ linkTo({'module': 'CustomAlerts', 'action': 'addNewAlert'}) }}" id='linkAddReport'>&rsaquo; {{ 'CustomAlerts_CreateNewAlert'|translate }}</a>
		
</div>
