<div class='entityListContainer'>

	<table class="dataTable entityTable">
        <thead>
            <tr>
                <th>{{ 'General_Name'|translate }}</th>
                <th>{{ 'General_Period'|translate }}</th>
                <th>{{ 'General_Report'|translate }}</th>
                <th>{{ 'General_Edit'|translate }}</th>
                <th>{{ 'General_Delete'|translate }}</th>
            </tr>
        </thead>

        {% if not alerts %}
        <tr>
            <td colspan="5">
                <br/>
                {{ 'CustomAlerts_NoAlertsDefined'|translate }}
                <br/><br/>
            </td>
        </tr>
        {% else %}
            {% for alert in alerts %}
                <tr>
                    <td class="name">{{ alert.name }}</td>
                    <td class="period">{{ alert.period|capitalize }}</td>
                    <td class="reportName">{{ alert.reportName }}</td>
                    <td class="edit"><a href="{{ linkTo({'module': 'CustomAlerts', 'action': 'editAlert', 'idAlert': alert.idalert}) }}"
                           class="link_but"
                            ><img src="plugins/Morpheus/images/ico_edit.png" border="0"> {{ 'General_Edit'|translate }}</a></td>
                    <td class="delete"><a href="javascript:void(0);"
                           id="{{ alert.idalert }}"
                           class="link_but deleteAlert"
                            ><img src="plugins/Morpheus/images/ico_delete.png" border="0"> {{ 'General_Delete'|translate }}</a></td>
                </tr>
            {% endfor %}
        {% endif %}

    </table>
	<br/>
	<a href="{{ linkTo({'module': 'CustomAlerts', 'action': 'addNewAlert'}) }}" id='linkAddReport'>&rsaquo; {{ 'CustomAlerts_CreateNewAlert'|translate }}</a>
		
</div>
